/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
     background-color: aqua;
     height: 100px;
}

.container{
    border: 2px dotted black;
    margin: 20px auto;
}

.color-blue{
    background-color: blue;
}

.color-gold{
    background-color: #daa520;
}

.color-gray{
    background-color: #d3d3d3;
}

.color-pinkish{
    background-color: #ee82ee;
}

.color-blackish{
    background-color: #23272a;
}
/* Utils */

.first-div{
    width: 60%;
    height: 50px;
}

.second-div{
    width: 60%;
    height: 500px;
    background-color: #228b22;
    margin: auto;
}

.top{
    min-height: 50px;
    max-width: 60%;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item{
    text-align: center;
    border: 2px dotted black;
}


.start{
    width: 25%;
}


.middle{
    width: 50%;
}


.end{
    width: 25%;
}

.mid{
    height: 400px;
    width: 50%;
}

.card1{
    height: 300px;
    width: 60%;
    background-color: #1e90ff;
}

.card2{
    height: 300px;
    width: 40%;
    background-color: pink;
}

.card-a{
    height: 300px;
    width: calc(100% / 3);
    background-color: #f08080;
}

.card-b{
    height: 300px;
    width: calc((100% / 3) *2 );
    background-color: #20b2aa;
}